@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');
:root{
	--color-negro:#000;
	--color-texto:#212529;
	--color-titulos:#333;
	--color-subtitulos:#888;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: var(--color-texto);
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Khula', sans-serif;
	color: var(--color-titulos);
}